body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.title-prof{

width: center;



}
.login-container, .dashboard-container {
    
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: 	#8B0000;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    
}

form {
    display: flex;

    flex-direction: column;
}

label, input, select, textarea, button {
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}